# Enrico Bentley and Matteo Simeoni project solution

You have to work on the [**ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions**](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:

- **metaData.csv**, shortly *trips*
- several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a **zip file**. Let us call those datasets the details datasets.

Notes:
1. It is mandatory to use GitHub for developing the project.
2. The project must be a jupyter notebook.
3. There is no restriction on the libraries that can be used, nor on the Python version.
4. All questions on the project must be asked in a public channel on Zulip.
5. At most 3 students can be in each group. You must create the groups by yourself. You can use the Zulip channel to create the groups.
6. You do not have to send me the project before the discussion.

In [55]:
import pandas as pd 
import numpy as np

In [56]:
 trips = pd.read_csv(r"C:\Users\Dell\OneDrive - Universit√† degli Studi di Milano-Bicocca\Desktop\Magistrale\FoundationsComputerScience\Python\Project\metaData.csv")

In [57]:
# trips.columns

**1. Extract all trips with busRoute 83**

In [58]:
route83 = trips[trips['busRoute'] == '83']

In [59]:
route83.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.15
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.15
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.15
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.15
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.15

**2. Extract all trips where busRoute is not a number**

In [60]:
trips['busRoute'].unique()

array(['-', '31', '33', '72', '46', '32', '83', 'N4', 'N2', 'N1'],
      dtype=object)

In [61]:
route_notnum = trips[trips['busRoute'].isin(['-', 'N4', 'N2', 'N1'])]
route_notnum.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15

**3. For each (busNumber, busRoute) pair, determine the number of trips**

In [62]:
trips_num =trips[trips['busRoute']!='-'].groupby(['busNumber', 'busRoute']).size()
trips_num

busNumber  busRoute
183        31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
dtype: int64

**4. For each trip, compute the ratio between the energy consumption and the average number of passengers**

In [63]:
trips['mean_Energy_per_Passenger'] = trips['energyConsumption'] / trips['itcs_numberOfPassengers_mean'] 
trips[['energyConsumption', 'itcs_numberOfPassengers_mean', 'mean_Energy_per_Passenger']].head()

   energyConsumption  itcs_numberOfPassengers_mean  mean_Energy_per_Passenger
0       4.785852e+08                      5.538860               8.640500e+07
1       4.022585e+08                     33.114580               1.214747e+07
2       1.445733e+09                     19.689140               7.342794e+07
3       2.819867e+08                      1.685185               1.673328e+08
4       6.207258e+08                     23.753570               2.613190e+07

**5. For each station (itcs_stopName), determine the average number of passengers.**

In [64]:
# details1 = pd.read_csv(r'C:\Users\Dell\OneDrive - Universit√† degli Studi di Milano-Bicocca\Desktop\Magistrale\FoundationsComputerScience\Python\Project\ZTBus_compressed\B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv')
# details1

In [65]:
usefull_col = [ 'itcs_stopName', 'time_iso', 'time_unix', 'itcs_numberOfPassengers', 'gnss_latitude', 'gnss_longitude', 'gnss_altitude', 'temperature_ambient', 'status_haltBrakeIsActive', 'status_parkBrakeIsActive' ]

In [66]:
from time import time
import os

start_time = time()

folder = r'C:\Users\Dell\OneDrive - Universit√† degli Studi di Milano-Bicocca\Desktop\Magistrale\FoundationsComputerScience\Python\Project\ZTBus_compressed\\'
files = [file for file in os.listdir(folder) if file.endswith('.csv')]
details = pd.DataFrame()

for file in files:
    path = folder + file
    temp = pd.read_csv(path, usecols = usefull_col)
    filt = temp[temp['itcs_stopName'] != '-'].copy()  
    filt.loc[:, 'name'] = file[:-4]
    details = pd.concat([details, filt], ignore_index=True)

end_time = time()
tot_time = end_time - start_time
print(f"{round(tot_time)//60} min {round(tot_time)%60} sec")

In [69]:
details.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean()

itcs_stopName
Z√ºrich, Albisrank                 16.196598
Z√ºrich, Albisriederplatz          25.453398
Z√ºrich, Altes Krematorium         21.980348
Z√ºrich, Bahnhof Affoltern          2.850746
Z√ºrich, Bahnhof Altstetten         7.816580
                                    ...
Z√ºrich, Zentrum Witikon           17.255102
Z√ºrich, Zweiackerstrasse           7.502203
Z√ºrich, Zwielplatz                 2.049383
Z√ºrich, Zwinglihaus               23.196668
Z√ºrich,Kalkbreite/Bhf.Wiedikon    23.160748
Name: itcs_numberOfPassengers, Length: 149, dtype: float64

**6. For each station, determine the buses that have stopped there at least once.**

In [70]:
merged = pd.merge(trips, details, left_on = 'name', right_on = 'name')

In [71]:
# trips.columns
# details.columns

In [72]:
stop_bus = merged.groupby(['itcs_stopName', 'busNumber']).size()
stop_bus

itcs_stopName                   busNumber
Z√ºrich, Albisrank               183           6324
                                208           6199
Z√ºrich, Albisriederplatz        183          11218
                                208           7633
Z√ºrich, Altes Krematorium       183          10022
                                             ...
Z√ºrich, Zwielplatz              208              4
Z√ºrich, Zwinglihaus             183           2791
                                208           1231
Z√ºrich,Kalkbreite/Bhf.Wiedikon  183            279
                                208            256
Length: 297, dtype: int64

**7. For each station, determine the buses that have stopped there at least ten times.**

In [73]:
stop_bus[stop_bus >= 10]

itcs_stopName                   busNumber
Z√ºrich, Albisrank               183           6324
                                208           6199
Z√ºrich, Albisriederplatz        183          11218
                                208           7633
Z√ºrich, Altes Krematorium       183          10022
                                             ...
Z√ºrich, Zwielplatz              183             77
Z√ºrich, Zwinglihaus             183           2791
                                208           1231
Z√ºrich,Kalkbreite/Bhf.Wiedikon  183            279
                                208            256
Length: 295, dtype: int64

**9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.**

In [74]:
overall = trips[trips['busRoute']!='-'].groupby(['busNumber', 'busRoute'])[['energyConsumption','drivenDistance']].sum()
overall['energy_ratio'] = round(overall['energyConsumption']/overall['drivenDistance'], 2)
overall

                    energyConsumption  drivenDistance  energy_ratio
busNumber busRoute
183       31             1.387782e+10      2279952.00       6086.89
          32             1.393320e+10      2256540.10       6174.59
          33             1.761996e+11     29510481.41       5970.75
          46             1.026237e+11     18224657.94       5631.04
          72             1.394368e+11     23637238.45       5899.03
          83             2.995540e+11     51249813.70       5844.98
          N1             4.217283e+09       705122.71       5980.92
          N2             7.929098e+09      1390618.35       5701.85
          N4             4.720068e+09       766868.89       6154.99
208       31             5.535865e+09      1046306.68       5290.86
          32             1.283340e+10      2337064.21       5491.25
          33             3.474842e+10      6161892.39       5639.24
          46             2.337366e+10      4186493.70       5583.11
          72             5.100382e+10      9427138.15       5410.32
          83             2.907837e+11     49965928.79       5819.64
          N1             2.316328e+09       410691.93       5640.06
          N2             7.913191e+09      1464008.67       5405.15
          N4             3.152512e+09       519599.97       6067.19

**10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.**

In [75]:
overallMin = overall.loc[overall.groupby('busRoute')['energy_ratio'].idxmin()]
overallMin.rename(columns={'energy_ratio': 'energyRatioMin', 'drivenDistance':'drivenDistanceMin', 'energyConsumption': 'energyConsumptionMin'}, inplace=True)
overallMin.head()

                    energyConsumptionMin  drivenDistanceMin  energyRatioMin
busNumber busRoute
208       31                5.535865e+09         1046306.68         5290.86
          32                1.283340e+10         2337064.21         5491.25
          33                3.474842e+10         6161892.39         5639.24
          46                2.337366e+10         4186493.70         5583.11
          72                5.100382e+10         9427138.15         5410.32

In [76]:
overallMax = overall.loc[overall.groupby('busRoute')['energy_ratio'].idxmax()]
overallMax.rename(columns={'energy_ratio': 'energyRatioMax', 'drivenDistance':'drivenDistanceMax', 'energyConsumption': 'energyConsumptionMax'}, inplace=True)
overallMax.head()

                    energyConsumptionMax  drivenDistanceMax  energyRatioMax
busNumber busRoute
183       31                1.387782e+10         2279952.00         6086.89
          32                1.393320e+10         2256540.10         6174.59
          33                1.761996e+11        29510481.41         5970.75
          46                1.026237e+11        18224657.94         5631.04
          72                1.394368e+11        23637238.45         5899.03

In [77]:
overallMin.reset_index(inplace=True)
overallMax.reset_index(inplace=True)
overallMinMax = pd.merge(overallMin, overallMax, left_on = 'busRoute', right_on = 'busRoute')
overallMinMax.rename(columns={'busNumber_x': 'busNumberMin', 'busNumber_y':'busNumberMax', }, inplace=True)
overallMinMax['energyRatioDiff'] = overallMinMax['energyRatioMax'] - overallMinMax['energyRatioMin']
overallMinMax

,busNumberMin,busRoute,energyConsumptionMin,drivenDistanceMin,energyRatioMin,busNumberMax,energyConsumptionMax,drivenDistanceMax,energyRatioMax,energyRatioDiff
0,208,31,5.535865e+09,1046306.68,5290.86,183,1.387782e+10,2279952.00,6086.89,796.03
1,208,32,1.283340e+10,2337064.21,5491.25,183,1.393320e+10,2256540.10,6174.59,683.34
2,208,33,3.474842e+10,6161892.39,5639.24,183,1.761996e+11,29510481.41,5970.75,331.51
3,208,46,2.337366e+10,4186493.70,5583.11,183,1.026237e+11,18224657.94,5631.04,47.93
4,208,72,5.100382e+10,9427138.15,5410.32,183,1.394368e+11,23637238.45,5899.03,488.71
5,208,83,2.907837e+11,49965928.79,5819.64,183,2.995540e+11,51249813.70,5844.98,25.34
6,208,N1,2.316328e+09,410691.93,5640.06,183,4.217283e+09,705122.71,5980.92,340.86
7,208,N2,7.913191e+09,1464008.67,5405.15,183,7.929098e+09,1390618.35,5701.85,296.70
8,208,N4,3.152512e+09,519599.97,6067.19,183,4.720068e+09,766868.89,6154.99,87.80

**11. Find the bus maximizing the difference computed in the previous point.**

In [78]:
overallMinMax.loc[overallMinMax['energyRatioDiff'].idxmax()]

busNumberMin                      208
busRoute                           31
energyConsumptionMin     5535865000.0
drivenDistanceMin          1046306.68
energyRatioMin                5290.86
busNumberMax                      183
energyConsumptionMax    13877821100.0
drivenDistanceMax           2279952.0
energyRatioMax                6086.89
energyRatioDiff                796.03
Name: 0, dtype: object

**12. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.**

In [79]:
details['altitude_variation'] = details['gnss_altitude'].diff()
details_altitude = details[details['altitude_variation'].notna()]
details_altitude.head()

,time_iso,time_unix,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,name,altitude_variation
194,2019-04-30T14:11:34Z,1556633494,602.9036,0.826539,0.150067,17.0,"Z√ºrich, Zweiackerstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,-56.3964
195,2019-04-30T14:12:30Z,1556633550,603.1929,0.826573,0.150013,22.0,"Z√ºrich, Loorenstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,0.2893
196,2019-04-30T14:15:20Z,1556633720,627.8985,0.826567,0.149922,26.0,"Z√ºrich, Berghaldenstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,24.7056
197,2019-04-30T14:16:21Z,1556633781,610.6000,0.826560,0.149857,28.0,"Z√ºrich, Carl-Spitteler-Strasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,-17.2985
198,2019-04-30T14:17:05Z,1556633825,591.5176,0.826565,0.149811,32.0,"Z√ºrich, Waserstrasse",0.0,0.0,286.15,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,-19.0824

**13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.**

In [90]:
details_altitude.loc[:, 'altitude_variation_abs'] = details_altitude['altitude_variation'].abs()
details_altitude.groupby('name')['altitude_variation_abs'].sum()

name
B183_2019-04-30_13-22-07_2019-04-30_17-54-02     755.9876
B183_2019-05-01_05-58-51_2019-05-01_22-32-30      55.5204
B183_2019-05-03_02-50-21_2019-05-03_05-53-20     246.8824
B183_2019-05-03_15-41-57_2019-05-03_23-06-24    2170.8085
B183_2019-05-05_07-41-02_2019-05-05_23-20-07    5238.4952
                                                  ...
B208_2022-12-06_14-43-49_2022-12-06_18-22-52     659.1639
B208_2022-12-07_05-13-02_2022-12-07_19-19-53    3200.6370
B208_2022-12-08_05-22-20_2022-12-08_18-39-15    2958.6620
B208_2022-12-09_23-55-12_2022-12-10_03-24-28     319.4338
B208_2022-12-10_23-34-46_2022-12-11_03-29-05    1190.8470
Name: altitude_variation_abs, Length: 1408, dtype: float64

**14. For each month of the year, compute the average ambient temperature**

In [91]:
details['time_iso'] = pd.to_datetime(details['time_iso'], format='mixed')
details.groupby(details['time_iso'].dt.month)['temperature_ambient'].mean()

time_iso
1     278.721379
2     281.061416
3     283.111389
4     287.057675
5     289.971748
6     296.736901
7     297.688561
8     296.263218
9     292.335540
10    287.902278
11    281.813360
12    279.450530
Name: temperature_ambient, dtype: float64

**15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.**

In [92]:
merged['time_unix_next'] = merged['time_unix'].shift(-1)
merged['duration'] = merged['time_unix_next'] - merged['time_unix']
halt = merged[merged['status_haltBrakeIsActive'] == 1]
halt = halt.rename(columns={'duration': 'halt_duration'})
park = merged[merged['status_parkBrakeIsActive'] == 1]
park = park.rename(columns={'duration': 'park_duration'})
park.head(3)

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,...,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,time_unix_next,park_duration
1388,B183_2019-05-05_07-41-02_2019-05-05_23-20-07,183,2019-05-05T07:41:02Z,1557042062,2019-05-05T23:20:07Z,1557098407,283206.9,46,1.661700e+09,16.49925,...,487.2000,0.827525,0.147957,3.0,"Z√ºrich, R√ºtihof",0.0,1.0,280.15,1.557056e+09,60.0
1543,B183_2019-05-05_07-41-02_2019-05-05_23-20-07,183,2019-05-05T07:41:02Z,1557042062,2019-05-05T23:20:07Z,1557098407,283206.9,46,1.661700e+09,16.49925,...,427.4919,0.827079,0.148948,32.0,"Z√ºrich, Okenstrasse",0.0,1.0,281.15,1.557069e+09,148.0
1563,B183_2019-05-05_07-41-02_2019-05-05_23-20-07,183,2019-05-05T07:41:02Z,1557042062,2019-05-05T23:20:07Z,1557098407,283206.9,46,1.661700e+09,16.49925,...,501.4000,0.827524,0.147956,7.0,"Z√ºrich, R√ºtihof",0.0,1.0,281.15,1.557071e+09,57.0

In [93]:
halt_grouped = halt.groupby(['busNumber', 'status_haltBrakeIsActive'])['halt_duration'].sum().reset_index()
park_grouped = park.groupby(['busNumber', 'status_parkBrakeIsActive'])['park_duration'].sum().reset_index()

halt_park_grouped = pd.merge(halt_grouped, park_grouped, left_on = 'busNumber', right_on = 'busNumber')
halt_park_grouped['halt_park_ratio'] = round(halt_park_grouped['halt_duration']/halt_park_grouped['park_duration'],2)
halt_park_grouped

,busNumber,status_haltBrakeIsActive,halt_duration,status_parkBrakeIsActive,park_duration,halt_park_ratio
0,183,1.0,41941589.0,1.0,161624.0,259.50
1,208,1.0,30403746.0,1.0,14732.0,2063.79

**16. For each pair of stops that are consecutive in some trip, compute the average speed achieved when going from the first to the second stop.**

In [94]:
import math

# Funzione per calcolare la distanza utilizzando la formula dell'emisenoverso
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0  # Raggio della Terra in km
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

details['next_gnss_latitude'] = details['gnss_latitude'].shift(-1)
details['next_gnss_longitude'] = details['gnss_longitude'].shift(-1)
details['distance_to_next_stop'] = details.apply(lambda row: haversine(row['gnss_latitude'], row['gnss_longitude'], 
                                                                      row['next_gnss_latitude'], row['next_gnss_longitude']), axis=1)

merged['duration'] = merged['time_unix_next'] - merged['time_unix']
details['distance_meters_next_stop']= details['distance_to_next_stop']*1000
details.head()

,time_iso,time_unix,gnss_altitude,gnss_latitude,gnss_longitude,itcs_numberOfPassengers,itcs_stopName,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,name,altitude_variation,next_gnss_latitude,next_gnss_longitude,distance_to_next_stop,distance_meters_next_stop,time_unix_next,duration,speed_next_stop
0,2019-04-30 03:23:02+00:00,1556594582,423.9126,0.827037,0.148511,1.0,"Z√ºrich, Herdernstrasse",0.0,0.0,291.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN,NaN,NaN,1.556595e+09,76.0,NaN
1,2019-04-30 03:24:18+00:00,1556594658,NaN,NaN,NaN,2.0,"Z√ºrich, Hardplatz",0.0,0.0,288.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN,NaN,NaN,1.556595e+09,84.0,NaN
2,2019-04-30 03:25:42+00:00,1556594742,NaN,NaN,NaN,3.0,"Z√ºrich, G√ºterbahnhof",0.0,0.0,287.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN,NaN,NaN,1.556595e+09,102.0,NaN
3,2019-04-30 03:27:24+00:00,1556594844,NaN,NaN,NaN,5.0,"Z√ºrich, B√§ckeranlage",0.0,0.0,287.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN,NaN,NaN,1.556595e+09,56.0,NaN
4,2019-04-30 03:28:20+00:00,1556594900,NaN,NaN,NaN,6.0,"Z√ºrich, Milit√§r-/Langstrasse",0.0,0.0,286.15,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,NaN,NaN,NaN,NaN,NaN,1.556595e+09,55.0,NaN

In [98]:
details['time_unix_next'] = details['time_unix'].shift(-1)
details['itcs_next_stopName'] = details['itcs_stopName'].shift(-1)
details['duration'] = details['time_unix_next'] - details['time_unix']
details['speed_next_stop'] = details['distance_meters_next_stop']/ details['duration']*3.6 # in km/h
average_speed = details.groupby(['itcs_stopName','itcs_next_stopName'])['speed_next_stop'].mean()
average_speed

itcs_stopName                   itcs_next_stopName
Z√ºrich, Albisrank               Z√ºrich, Flurstrasse               0.307145
                                Z√ºrich, Hubertus                  0.358605
Z√ºrich, Albisriederplatz        Z√ºrich, Altes Krematorium         0.321944
                                Z√ºrich, Friedhof Sihlfeld         0.178416
                                Z√ºrich, Hardplatz                 0.310565
                                                                    ...
Z√ºrich, Zwinglihaus             Z√ºrich, Goldbrunnenplatz          0.316309
                                Z√ºrich, Schmiede Wiedikon         0.243583
                                Z√ºrich,Kalkbreite/Bhf.Wiedikon    0.333107
Z√ºrich,Kalkbreite/Bhf.Wiedikon  Z√ºrich, Kernstrasse               0.338229
                                Z√ºrich, Zwinglihaus               0.370205
Name: speed_next_stop, Length: 523, dtype: float64